<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.techticz.dietcalendar">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".ui.DietCalendarApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.LauncherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.techticz.app.ui.activity.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.techticz.app.ui.activity.FoodDetailsActivity"
            android:label="@string/title_activity_food_details"
            android:theme="@style/AppTheme.Food"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.techticz.app.ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.techticz.app.ui.activity.DeveloperActivity"
            android:label="@string/title_activity_developer"
            android:parentActivityName="com.techticz.app.ui.activity.DashboardActivity"
            android:theme="@style/AppTheme.Showcase"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.techticz.app.ui.activity.BrowseDietPlansActivity"
            android:parentActivityName="com.techticz.app.ui.activity.DashboardActivity"
            android:theme="@style/AppTheme.Plan"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.techticz.app.ui.activity.DietChartActivity"
            android:label="@string/title_activity_diet_chart"
            android:parentActivityName="com.techticz.app.ui.activity.DashboardActivity"
            android:theme="@style/AppTheme.Plan"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.techticz.app.ui.activity.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.techticz.app.ui.activity.DietPlanActivity"
            android:label="@string/title_activity_diet_plan"
            android:theme="@style/AppTheme.Plan"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.techticz.app.ui.activity.BrowsePlateActivity"
            android:label="@string/title_activity_browse_plate"
            android:theme="@style/AppTheme.Plate"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.techticz.app.ui.activity.MealPlateActivity"
            android:label="@string/title_activity_meal_plate"
            android:theme="@style/AppTheme.Plate"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.techticz.app.ui.activity.BrowseRecipeActivity"
            android:label="@string/title_activity_browse_recipe"
            android:theme="@style/AppTheme.Recipe"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.techticz.app.ui.activity.BrowseFoodActivity"
            android:label="@string/title_activity_browse_food"
            android:theme="@style/AppTheme.Food"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.techticz.app.ui.activity.RecipeDetailsActivity"
            android:label="@string/title_activity_recipe_details"
            android:theme="@style/AppTheme.Recipe"
            android:windowSoftInputMode="adjustResize" ></activity>
    </application>

</manifest>